.videoCard {
	color: white;
	width: 500px;
	height: 400px;
	padding: 20px;
	transition: transform 100ms;
}

.videoCard:hover {
	transform: scale(1.09);
	cursor: pointer;
}

.videoCard > img {
	object-fit: contain;
	width: 500px;
	height: 300px;
}

.videoCard > h2 {
	padding-top: 10px;
}

.videoCard__stats {
	display: none;
}

.videoCard:hover .videoCard__stats {
	display: inline;
}

.MuiSvgIcon-root {
	margin-bottom: -2px;
}
